border-red = 1px red solid
border-none = 0px
bgc-red = red
bg-wh = white
body-bg = #d0d0d0
bg-row = rgb(243, 242, 242)
p-top = 20px;

li.dropdown:hover .dropdown-menu
			display: block
			margin: 0
 
a.menu:after
	.dropdown-toggle:after 
		content: none;

.top-menu_city
	width: 500px;
	
.list-group-item,
.list-group
	border border-none
		
.top-menu_add
	width 100%
	
.dropdown-menu
	padding: 0
	
nav > .container
	background-color: bg-wh
	
.jumbotron
	background-size: cover
	background-repeat: no-repeat
	background-image url('../img/src/main-big-reklama3.jpg')
	background-position-y: 50%;
	padding 0
	margin 0
	
body
	background-color: body-bg
	
.row
	background-color: bg-row
	
.container
	margin-bottom 0
	// padding-top: p-top
		
footer
	padding-top: p-top